@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
/* h1,
h2,
h3 {
  font-weight: 600;
}
h4,
h5.h6 {
  font-weight: 500;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
button {
  border-radius: 50px;
}
:root {
  --blue-light: #00dcf9;
}
.img_white_bg {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}
.br_50 {
  border-radius: 50px;
}
.br_15 {
  border-radius: 15px;
}
.p_relative {
  position: relative;
}
button {
  box-shadow: none !important;
}
.ws_flex {
  display: flex;
}
.ws_text_center {
  text-align: center;
}
.jc_center {
  justify-content: center;
}
.ai_center {
  align-items: center;
}
.gap_10 {
  gap: 10px;
}
.gap_20 {
  gap: 20px;
}
.margin_v_35 {
  margin-top: 35px;
  margin-bottom: 35px;
}
a.wp-block-button__link,
a.wp-block-button__link:hover {
  border: transparent !important;
  box-shadow: none;
}
input::placeholder {
  color: #cccccc;
}
main {
  padding-top: 0 !important;
}
/* =========================================  site styles ========================================= */

/* headers */
.ws_home_banner {
  /* background-size: auto !important; */
  background-position-x: right !important;
}
.ws_headers button.wp-block-search__button,
.ws_headers .wp-block-search label {
  display: none;
}
.ws_headers .wp-block-search__input {
  height: 50px;
  padding: 10px 20px;
  background-image: url("../../images/search.png");
  background-repeat: no-repeat;
  background-position: right 20px center;
}
.ws_header_login a {
  font-size: 16px;
  border: 1px solid #f5f7fb;
  padding: 15px 25px;
  border-radius: 50px;
  background-color: #fff;
}
h1 span {
  background-color: var(--blue-light);
  color: #fff;
  padding: 4px 16px;
  border-radius: 50px;
}
.ws_headers .ws_header_cart p {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50px;
}
/* mega menus */
.ws_mega_menu {
  display: none;
}
.ws_mega_menu_container {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 10px;
}
.ws_mega_menu {
  position: absolute;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}
.ws_mega_menu .ws_mega_menu_row a.wp-block-button__link::before {
  content: "\f178";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  margin-right: 10px;
}
.ws_mega_menu_row {
  align-items: start;
}
.ws_mega_menu_button {
  cursor: pointer;
  border: 1px solid #edf0f7;
  padding: 10px 20px 10px 35px;
}
.ws_headers .ws_mega_menu_button.active {
  background-color: var(--blue-light);
  color: #fff;
}
.ws_mega_menu_first-col .wp-block-uagb-container:hover {
  background-color: #fff;
  /* padding: 10px; */
  border-radius: 10px;
}
.ws_mega_menu_col nav {
  width: 100%;
}
.ws_mega_menu_col nav ul {
  flex-direction: column;
  align-items: start;
}
.ws_mega_menu_col nav ul a {
  text-decoration: none;
  font-size: 1.025rem;
}
.ws_mega_menu nav ul a:hover span {
  color: var(--blue-light);
}
.ws_mega_menu nav a img {
  margin-right: 10px;
}
.ws_headers .ws_mega_menu_button {
  background-image: url("../../images/hammburger.png");
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: 13px;
  background-color: #fff;
}
.ws_headers .ws_mega_menu_button.active {
  background-image: url("../../images/menu-close.png");
}
.ws_mega_menu_col li.wp-block-navigation-item span {
  display: flex;
  align-items: center;
}
.ws_mega_menu_col li.wp-block-navigation-item span img {
  width: 20px !important;
  height: 20px !important;
  object-fit: contain;
}
.ws_mega_menu_col a.wp-block-button__link {
  padding-left: 15px !important;
  font-size: 16px !important;
}
/* banner */
.ws_home_banner .wp-block-search label {
  display: none;
}
.ws_home_banner p strong {
  font-weight: 600;
}
.ws_home_banner .wp-block-search input,
.ws_home_banner .wp-block-search button {
  border-radius: 100px;
}
.ws_home_banner .wp-block-search input {
  padding: 25px;
}
.ws_home_banner .wp-block-search button,
.ws_mega_menu .wp-block-search__input {
  height: fit-content;
  padding: 20px 40px 20px 30px;
  margin: auto;
  position: absolute;
  right: 20px;
  top: 8px;
  background-image: url("../../images/STARS.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 18px;
}
.ws_mega_menu_col .wp-block-buttons {
  width: 80%;
}
.ws_home_banner .wp-block-search__inside-wrapper {
  position: relative;
}

/* shortcode css client reviews banner */
.ws_min_container {
  max-width: 600px;
  /* margin: auto; */
}
.reviews_images_lists img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.reviews_images_lists img:not(:first-child),
.reviews_images_lists i {
  margin-left: -12px;
}
.reviews_images_lists i {
  font-size: 40px;
  color: var(--blue-light);
}
.reviews-contents i {
  color: #f6b900;
}
.reviews-contents p span,
.reviews-contents i + p {
  font-weight: 600;
}
.reviews-contents i + p {
  margin-left: 10px;
}
.reviews-contents p a {
  text-decoration: underline;
}
/* popular category section */
.ws_domain_count_popular {
  width: fit-content;
}
.ws_domain_count_popular h4 {
  border-radius: 100px;
}
.ws_popular_category .wp-block-column {
  border-radius: 15px;
}
/* footer */
.footer_social_icons svg {
  height: 24px !important;
  width: 24px !important;
}
.footer_social_icons li {
  border-radius: 5px;
}
.ws_footer_menus nav ul {
  flex-direction: column;
  align-items: flex-start;
}
.ws_footer_menus nav ul a {
  text-decoration: none;
  font-weight: 400;
}
.ws_pre_footer .is-layout-grid .ws_pre_footer_cards {
  min-height: 250px;
}
form#mc4wp-form-1 {
  width: 100%;
  text-align: center;
}
.wstr_subscribe input[type="email"] {
  border-radius: 50px;
  padding: 20px 20px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  border: transparent;
}
.wstr_subscribe input[type="email"]::placeholder {
  font-weight: 600;
}
.wstr_subscribe input[type="submit"] {
  width: 100%;
  margin-top: 30px;
  background: #000;
  color: #fff;
  padding: 20px 20px;
  border-radius: 50px;
  border: transparent;
  cursor: pointer;
}
.wstr_subscribe p:nth-child(2) {
  position: relative;
}
/* .wstr_subscribe p:nth-child(2):before {
  content: "\f0e0";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 52px;
  left: 135px;
  color: #fff;
} */
.wstr_subscribe p i {
  position: absolute;
  top: 65%;
  color: #fff;
  left: 38%;
  transform: translate(-38%, -38%);
}
.wstr_subscribe label {
  color: #666666;
}
.footer_subscribe .wp-block-uagb-container {
  height: 100%;
}
/* sell page */
.ws_home_banner p span:not(.banner-reviews p span) {
  background-color: var(--blue-light);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}
.ws_sell_banner h1 span {
  color: #ec0172;
  background-color: transparent;
  padding: 0;
}

.ws_home_banner {
  position: relative;
}
.ws_home_banner::before {
  content: "";
  background-image: url("../../images/banner_bg_main_1.png");
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 750px;
  z-index: -1;
  background-size: cover;
}
